AI_PROVIDER=mock
AI_VENDOR=openai
AI_BASE_URL=
AI_API_KEY=
AI_MODEL=
AI_TIMEOUT_MS=60000

PRODUCT_DISCOVERY_PROVIDER=disabled
PRODUCT_DISCOVERY_TIMEOUT_MS=8000
SERPAPI_API_KEY=
DATAFORSEO_ENABLED=false
PRODUCT_DISCOVERY_PAID_POLICY=
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=
